VITE_SPACETIMEDB_HOST=https://maincloud.spacetimedb.com
VITE_SPACETIMEDB_DB_NAME=spacecanvas-5rvak
VITE_SPACETIMEDB_DB_ID=c20042aa1c549bd35be19e6cd55e0a32e50107aea30b6a457f6a6316c6317479
VITE_MAPBOX_TOKEN=replace-with-mapbox-public-token

SPACETIMEDB_HOST=https://maincloud.spacetimedb.com
SPACETIMEDB_DB_NAME=spacecanvas-5rvak
SPACETIMEDB_DB_ID=c20042aa1c549bd35be19e6cd55e0a32e50107aea30b6a457f6a6316c6317479

CLIENTS=10000
CONNECT_RATE_PER_SEC=250
CLIENT_TICK_MS=700
MAX_REDUCER_IN_FLIGHT=1200
PROBE_TIMEOUT_MS=15000
SMOKE_TIMEOUT_MS=20000
SMOKE_RESET=0
